body {
    background-color: lightblue;
    font-family: sans-serif;
    text-align: center;
}

button {
    width: 10em;
    padding: 1em;
    margin-bottom: 1em;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    margin: auto;
}

th,
td {
    border: 1px solid black;
    padding: 0.3em;
}

th {
    background-color: darkolivegreen;
    color: aliceblue;
}

tr:nth-child(odd) {
    background-color: lightblue;
}